@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
:root{
    --branco:white; 
    --cor-de-fundo:#5d5a56;
    --fundo-senha:#808080; 
    --fundo-texto:#808080; 
    --borda:#1e1e1e; 
    --fonte-principal: 'Abriel Fatface';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}
.conteudo-titulo{
    text-align: center;
}
*{
    font-weight: 400;
}
.conteudo-senha{
    margin-top: 80px;
    background-color: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
}
#campo-senha{
    background-color: var(--fundo-senha);
    border: none;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 40px;
    width: 70%;
}
.titulo-principal{
    font-weight: var(--fonte-principal);
    font-size: 32px;
}
.titulo-segundario{
    font-size: 24px;
}
img{
    width: 8%;
    height: 8%;
}
#campo-senha:focus{
    outline: none;
}
.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--branco); 
    margin-top: 32px;
    padding: 24px;
}
.parametro-titulo{
    font-family: var(--fonte-principal);
    font-size: 28px;
}
.parametro-senha-titulo{
    font-size: 24px;
}